experiments/model_files/
experiments/scripts/LOGs/
src/config.py

saved/
backups/
temp.ipynb
data/swda/swda_github
data/swda/id_splits/

*/.ipynb_checkpoints/
.ipynb_checkpoints/
*.pyc
*/__pycache__/
__pycache__/

